@mixin format-btn-base($color, $font){
    background-color: $color;
    color:$font;
    border: 1px solid darken($color,20%);
    &:hover{
         background-color: darken($color,5%);
        -webkit-transition-duration: 0.2s;
    }
    &:active{
        box-shadow: inset 0px 5px 15px 3px darken($color,20%); 
    }
}

@mixin tamanyos-btn($operador){
        padding: $operador*4px;
        font-size: $operador*8px;
}

.btn{
    font-family: Raleway,Arial,Helvetica;
    text-decoration: none;
    cursor: pointer;
    margin:2px;
    @include tamanyos-btn(2);
    @include format-btn-base($default-color,#000);
    border-radius: 6px;
}


@each $formato, $color in $formatos {
    .btn--#{$formato} {
        @include format-btn-base($color, white);    
    }
}

@for $i from 1 through length($tamanyos){
    .btn--#{nth($tamanyos,$i)}){
        @include tamanyos-btn($i);
    }
}
