/* BARRA DE HERRAMIENTAS*/

.nav-tool__item{
    float:left;
    cursor:pointer;
    list-style: none;    
    padding:10px;
    font-size: 14px;
    text-decoration: none;
    border-top:1px solid #605151;
    border-left:1px solid #605151;
    border-bottom:1px solid #605151;
    word-wrap: break-word;
}

.nav-tool__item:hover{
    background-color: white;
    border-left:1px solid #AAA;
    border-top:1px solid #AAA;
    border-bottom:1px solid #AAA;
}
.nav-tool__item:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.nav-tool__item:last-child{
    border-right:1px solid #605151;  
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-tool__item:last-child:hover{
    border-right:1px solid #AAA;  
}
.nav-tool__item:hover + li{
    border-left:1px solid #AAA;  
}