.top-bar{
    height: 55px;
    background-color: lighten($primary-color,70%);
    padding:0px 10px;
    display:block;
}
.shadow-top{
    box-shadow: 5px 0px 10px darkslategray;
    position: fixed;
    z-index: 1000;
    width: 100%;
    
}

.top-bar__logo{
    width: 150px;
    margin-top: -2.5px;
    float: left;
    height: 50px;
}

.top-menu{
    float:right;
    padding-right:150px;
    line-height: 46px;
}

.top-menu__list{
}
.top-menu__item{
    padding:8px 20px;
    display: inline;
    border-radius: 4px;
    margin-top: -5px;
    cursor:pointer;
    font-size: 18px;
    &:hover{
         background: darken($primary-color,20%);
         color:white;
    }
}
.top-menu__item--active{
    background: darken($primary-color,20%);
    color:white;
}