/* DEFAULT */
$default-background-color:#DDDDDD;
$default-font-color:#000000;
$default-border-color:#cccccc;

/* PRIMARY */
$primary-background-color:#337ab7;
$primary-border-color:#337ab7;
$primary-font-color:#FFFFFF;

/* DANGER */
$danger-background-color:#d9534f;
$danger-border-color:#c74c48;
$danger-font-color:#FFFFFF;

$light-danger-background-color:#f2dede;
$light-danger-border-color:#ebccd1;
$light-danger-font-color:#a94442;

/* WARNING*/
$warning-background-color:#337ab7;
$warning-border-color:#2f6594;
$warning-font-color:#FFFFFF;

$light-warning-backgorund-color:#fcf8e3;
$light-warning-border-color:#faebcc;
$light-warning-font-color:#8d6d3b;

/* SUCCESS */
$success-background-color:#5cb85c;
$success-border-color:#55a955;
$success-font-color:#FFFFFF;

$light-success-background-color:#dff0d8;
$light-success-border-color: #d6e9c6;
$light-success-font-color:#3c763d;

/* INFO */
$info-background-color:#5bc0de;
$info-border-color:#45b1d2;
$info-font-color:#FFFFFF;

$light-info-background-color:#d9edf7;
$light-info-border-color:#bce8f1;
$light-info-font-color:#3677a9;



