$default-color:#DDDDDD;
$primary-color:#337ab7;
$danger-color:#d9534f;
$warning-color:#337ab7;
$success-color:#5cb85c;
$info-color:#5bc0de;
$formatos:(primary, $primary-color),(danger,$danger-color),(warning, $warning-color),(success, $success-color),(info, $info-color);
$tamanyos:(xs),(s),(m),(l),(xl),(xxl);